# Export all names
#exportPattern(".")
export(estimate.bounds, assessment, assessmentGroup, fPCAassessment, fPCAcapacity, mic.test, sic.test, capacity.and, capacity.or, capacity.stst, capacityGroup, estimateNAH, estimateNAK, estimateUCIPor, estimateUCIPand, sic, sicGroup,ucip.test, siDominance)

# Import all packages listed as Imports or Depends
import(methods,fda,SuppDists)
importFrom("grDevices", "dev.new", "grey")
importFrom("graphics", "abline", "axis", "legend", "lines", "mtext",
           "par", "plot", "text")
importFrom("stats", "anova", "approxfun", "ecdf", "ks.test", "lm",
           "median", "pnorm", "quantile", "runif", "stepfun", "t.test")
importFrom("utils", "tail")
